In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('diamonds.csv')

In [3]:
#df.drop(columns='Unnamed: 0', inplace=True)

In [4]:
sorted_df = df.sort_values(by='price')

In [5]:
small_df = sorted_df[:1000]

In [6]:
small_df = small_df.sort_values(by='Unnamed: 0')

In [7]:
small_df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
50635,50636,0.23,Very Good,F,VS2,61.0,59.0,402,3.95,3.99,2.42
50636,50637,0.23,Very Good,F,VS2,59.1,59.0,402,4.02,4.07,2.39
50637,50638,0.23,Very Good,F,VS2,61.6,59.0,402,3.96,4.00,2.45
50638,50639,0.23,Very Good,F,VS2,59.4,57.0,402,4.06,4.09,2.42
50639,50640,0.23,Very Good,F,VS1,61.9,58.0,402,3.90,4.02,2.45

In [8]:
small_df.drop(columns='Unnamed: 0', inplace=True)

In [9]:
small_df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
50635   0.23  Very Good     F     VS2   61.0   59.0    402  3.95  3.99  2.42
50636   0.23  Very Good     F     VS2   59.1   59.0    402  4.02  4.07  2.39
50637   0.23  Very Good     F     VS2   61.6   59.0    402  3.96  4.00  2.45
50638   0.23  Very Good     F     VS2   59.4   57.0    402  4.06  4.09  2.42
50639   0.23  Very Good     F     VS1   61.9   58.0    402  3.90  4.02  2.45

[1000 rows x 10 columns]

In [10]:
small_df = small_df.reset_index(drop=True)
small_df

     carat        cut color clarity  depth  table  price     x     y     z
0     0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1     0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2     0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3     0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4     0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
..     ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
995   0.23  Very Good     F     VS2   61.0   59.0    402  3.95  3.99  2.42
996   0.23  Very Good     F     VS2   59.1   59.0    402  4.02  4.07  2.39
997   0.23  Very Good     F     VS2   61.6   59.0    402  3.96  4.00  2.45
998   0.23  Very Good     F     VS2   59.4   57.0    402  4.06  4.09  2.42
999   0.23  Very Good     F     VS1   61.9   58.0    402  3.90  4.02  2.45

[1000 rows x 10 columns]

In [11]:
diamonds_df = small_df

In [12]:
diamonds_df.to_csv('diamonds_df.csv')

In [13]:
read = pd.read_csv('diamonds_df.csv')
read

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
995,995,0.23,Very Good,F,VS2,61.0,59.0,402,3.95,3.99,2.42
996,996,0.23,Very Good,F,VS2,59.1,59.0,402,4.02,4.07,2.39
997,997,0.23,Very Good,F,VS2,61.6,59.0,402,3.96,4.00,2.45
998,998,0.23,Very Good,F,VS2,59.4,57.0,402,4.06,4.09,2.42
999,999,0.23,Very Good,F,VS1,61.9,58.0,402,3.90,4.02,2.45

In [15]:
read.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   carat       1000 non-null   float64
 2   cut         1000 non-null   object
 3   color       1000 non-null   object
 4   clarity     1000 non-null   object
 5   depth       1000 non-null   float64
 6   table       1000 non-null   float64
 7   price       1000 non-null   int64
 8   x           1000 non-null   float64
 9   y           1000 non-null   float64
 10  z           1000 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 86.1+ KB

In [31]:
sorted(list(read['depth'].unique()))

[55.2,
 56.2,
 56.9,
 57.5,
 57.6,
 58.0,
 58.1,
 58.2,
 58.3,
 58.4,
 58.5,
 58.6,
 58.7,
 58.8,
 58.9,
 59.0,
 59.1,
 59.2,
 59.3,
 59.4,
 59.5,
 59.6,
 59.7,
 59.8,
 59.9,
 60.0,
 60.1,
 60.2,
 60.3,
 60.4,
 60.5,
 60.6,
 60.7,
 60.8,
 60.9,
 61.0,
 61.1,
 61.2,
 61.3,
 61.4,
 61.5,
 61.6,
 61.7,
 61.8,
 61.9,
 62.0,
 62.1,
 62.2,
 62.3,
 62.4,
 62.5,
 62.6,
 62.7,
 62.8,
 62.9,
 63.0,
 63.1,
 63.2,
 63.3,
 63.4,
 63.5,
 63.6,
 63.7,
 63.8,
 63.9,
 64.0,
 64.1,
 64.3,
 64.5,
 64.8,
 65.1,
 65.2,
 66.4]

In [32]:
sorted(list(read['table'].unique()))

[52.0,
 53.0,
 53.5,
 53.6,
 53.7,
 53.8,
 54.0,
 54.1,
 54.3,
 54.5,
 54.7,
 54.9,
 55.0,
 55.1,
 55.3,
 55.6,
 56.0,
 56.5,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0]